body {
    margin: 0;
    background-color: #888;
    color: #fff;
    text-shadow: 2px 2px 4px black;
}

#main-wrapper {
    height: calc(100vh - (10px * 2));
    padding: 10px;
    background-color: #66f;
}

#main-wrapper div {
    margin: 15px 0;
}

.container {
    min-height: 10vh;
    padding: 15px;
    box-shadow: 0px 0px 2px 5px black;
    border: 5px solid #000;
    border-radius: 10px;
    border-color: #6f6;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-color {
    width: 200px;
    text-align: center;
}
.input-color input {
    width: 100%;
}

button {
    width: 200px;
    font-size: 18px;
    /* text-shadow: 0 0 2px black; */
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1;
    border-color: #6f6;
}

/* \/ Elementer \/ */

.square {
    height: 200px;
    width: 200px;
    background-color: #0f0;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: #0f0;
    border-radius: 100%;
}

.triangle {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

    border-bottom: 200px solid #0f0;
}

.nothing {
    width: 200px;
}

/* /\ Elementer /\ */