body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

#main-container {
    height: 95%;
    width: 99%;
    overflow: hidden;
    border: 1px solid black;
    background-color: #666;
}

.item-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.item-wrapper {
    overflow: hidden;
    width: 200px;
    padding: 5px;
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-circle {
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 100%;
    background-color: #f00;
}

.item-square {
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: #0f0;
}

.item-line {
    height: 10px;
    width: 100px;
    margin: 50px 5px;
    background-color: #00f;
}

.item-triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-bottom: 100px solid #0ff;
}

.item-bullet {
    height: 100px;
    width: 100px;
    border: 5px solid #000;
    border-radius: 0 100% 100% 0;
    background-color: #666;
}


.item-radioactive {
    border: 50px solid #fff;
    border-left: 40px solid #fff;
    border-right: 40px solid #fff;
    border-radius: 30% 33% 75% 33%;
    transform: rotate(45deg) rotate3d(100, 0, 100, 15deg);
    box-shadow: 0 0 16px 4px #0f0;
    animation: radioactive 3s infinite linear;
}

@keyframes radioactive {
    0% {
        box-shadow: 0 0 4px 4px #0f0;
    }

    50% {
        box-shadow: 0 0 16px 16px #0f0;
    }

    100% {
        box-shadow: 0 0 4px 4px #0f0;
    }

}

.item-pacman {
    border: 50px solid #ff0;
    border-right: 50px solid transparent;
    border-radius: 100%;
    animation: pacman 0.33s infinite linear;
}

@keyframes pacman {

    32% {
        border-right-color: transparent;
    }

    33%, 66% {
        border-right-color: #ff0;
    }

    67% {
        border-right-color: transparent;
    }

}

.item-sun {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: #fb0;
    box-shadow: 0 0 16px 16px #ff0;
    animation: sun 3s infinite linear;
}

@keyframes sun {
    0% {
        box-shadow: 0 0 16px 10px #ff0;
    }

    50% {
        box-shadow: 0 0 16px 16px #ff0;
    }

    100% {
        box-shadow: 0 0 16px 10px #ff0;
    }

}

.item-target {
    height: 100px;
    width: 100px;
    border: 5px solid #666;
    border-radius: 100%;
    /* background-color: #666; */
    background-image: radial-gradient(#f00 0%,
            #fff 5%,
            #f00 10%,
            #fff 15%,
            #0f0 20%,
            #fff 25%,
            #0f0 30%,
            #fff 35%,
            #00f 40%,
            #fff 45%,
            #00f 50%,
            #fff 55%,
            #00f 60%,
            #fff 65%,
            #00f 70%);
}